@import "tailwindcss";


input,
.menu-button {
    border-radius: 10px;
    border: 0.18em solid black;
    padding: 0.4em 0.8em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    color: #0f0f0f;
    background-color: #ffffff;
    transition: border-color 0.25s;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.menu-button:hover {
    color: blue;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .menu-button:hover {
        color: red;
    }
}